# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/cbse-recheck?retryWrites=true&w=majority

# JWT
JWT_SECRET=your_super_secret_jwt_key_here_min_32_chars
JWT_EXPIRE=7d
JWT_COOKIE_EXPIRE=7

# Frontend URL (for CORS)
FRONTEND_URL=http://localhost:5173

# Email (ZeptoMail SMTP)
SMTP_HOST=smtp.zeptomail.in
SMTP_PORT=465
SMTP_EMAIL=emailapikey
SMTP_PASSWORD=your_zeptomail_password
FROM_EMAIL=noreply@recheck.veritasco.tech
FROM_NAME=CBSE Recheck Advisor

# Cloudinary
CLOUDINARY_CLOUD_NAME=RECHECK
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Razorpay
RAZORPAY_KEY_ID=rzp_test_Sqw6eBjtWHEPOB
RAZORPAY_KEY_SECRET=jJuvl9eUkn9zAmB08vjJtVPL

# Admin
ADMIN_EMAIL=founder@veritasco.tech
ADMIN_PASSWORD=Amanmkc@1234
